<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<img src="246x0w.jpg">
<div style="padding:100px">
        <h1 style="font-family:cursive;text-align: center;font-size:60px">TODO</h1>
        <div class="mx-auto" style="width: 1000px;">
                <app-todo-form></app-todo-form>
        
        <div class="row">   
            <div class="col-md-6 mx-auto"><app-todo-list></app-todo-list></div>
            <div class="col-md-6 mx-auto"><app-done-list></app-done-list></div>
        </div>
    </div>
    </div>
                <router-outlet></router-outlet>




